/* css/colors.css */
:root {
    --bright-red: #E94136;
    --vibrant-blue: #338BFF;
    --dark-blue: #033b85;
    --yellow: #d69d00;
    --pink : #ff4d91;
    --bright-yellow: #ffa033;
    --bright-green: #7FBF3F;
    --green: #408b42;
}