<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="icon" href="./../../assets/images/icon.png" type="image/png">
    <link rel="stylesheet" href="./../../css/games-menu.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Segundo</title>
</head>
<body>

    <div class="main-container">

        <h1 class="text-margin">Selecciona un juego</h1>

            <div class="menu-options">
                <a class="btn-grade" href="./../games/segundo/suma-segundo.html">
                    <img src="./../../assets/wallpapers/sumas_segundo.png" alt="Sumas" class="btn-image">
                    <span class="btn-text">Sumas</span>
                </a>
                <a class="btn-grade" href="./../games/segundo/resta-segundo.html">
                    <img src="./../../assets/wallpapers/resta_segundo.png" alt="Restas" class="btn-image">
                    <span class="btn-text">Restas</span>
                </a>
                <a class="btn-grade" href="./../games/segundo/multiplicacion-segundo.html">
                    <img src="./../../assets/wallpapers/multiplicacion.png" alt="Multiplicación" class="btn-image">
                    <span class="btn-text">Multiplicación</span>
                </a>
            </div>

            <div class="space-top"></div>
            
            <div class="menu-options">
                <a class="btn-grade" href="./../games/segundo/division-segundo.html">
                    <img src="./../../assets/wallpapers/division.png" alt="Sumas" class="btn-image">
                    <span class="btn-text">División</span>
                </a>
                <a class="btn-grade" href="./../games/segundo/letter.html">
                    <img src="./../../assets/wallpapers/con_que_letra_empieza.png" alt="Sumas" class="btn-image">
                    <span class="btn-text">¿Con qué letra empieza?</span>
                </a>
                <a class="btn-grade" href="./../games/segundo/sentence.html">
                    <img src="./../../assets/wallpapers/completa_la_oracion.png" alt="Sumas" class="btn-image">
                    <span class="btn-text">Completa la Oración</span>
                </a>
            </div>   

            <div class="space-top"></div>
        
        </div>

    </div>

    <div class="space-top"></div>


    <!-- Botón de Regresar -->
    <button class="back-button" onclick="goBack()">Regresar</button>
    
    <!-- Script JavaScript para el botón de regresar -->
    <script>
        function goBack() {
            window.history.back();
        }
    </script>

    
</body>
</html>