<!DOCTYPE html>
<html lang="eS">
<head>
    <link rel="stylesheet" href="./../../css/main-menu.css">
    <link rel="icon" href="./../../assets/images/icon.png" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <div class="main-container">

        <h1 class="text-margin">Elige tu grado</h1>

        <div class="container-center">

            <div class="menu-options">
                <a class="btn-grade" href="./games-menu-primero.html">
                    <span class="btn-number">1°</span>
                    <span class="btn-text">Primer Grado</span>
                </a>
                <a class="btn-grade" href="./games-menu-segundo.html">
                    <span class="btn-number">2°</span>
                    <span class="btn-text">Segundo Grado</span>
                </a>
            </div>            
        
        </div>

    </div>

    <!-- Botón de Regresar -->
    <button class="back-button" onclick="goBack()">Regresar</button>
    
    <!-- Script JavaScript para el botón de regresar -->
    <script>
        function goBack() {
            window.location.href = "./../../index.html";
        }
    </script>
    
</body>
</html>